.documents{
    width: 86%;
    margin: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.document{
    width: 29%;
    margin: 2%;
}

.document img{
    aspect-ratio: 1.5;
    width: 100%;
}
